POSTGRES_USER=postgres
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=ecommerce
DB_URL=postgresql+asyncpg://postgres:somepassword@db:5432/ecommerce
TEST_DB_URL=postgresql+asyncpg://postgres:somepassword@localhost:5432/ecommerce_test


SECRET_KEY=somekey
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS = 7

REDIS_URL=redis://redis:6379/0
