POSTGRES_USER=postgres
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=ecommerce
DB_URL=postgresql+asyncpg://postgres:somepassword@localhost:5432/ecommerce

SECRET_KEY=somekey
ACCESS_TOKEN_EXPIRE_MINUTES=30
